<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quick Math by John Roy</title>
    <link rel ="stylesheet" href = "css/landing/landingstyle.css">
</head>
<body>
    <section class = "hero">
        <div class = "hero-container">
            <div class = column-left>
                <h1>Quick Math</h1> 
                <p>Gamified Learning</p>
                
        </div>
        <div class = "button-container">
            <button class = "signin">Sign In</button>
            <button class = "leaderboard">Leaderboard</button>    
        </div>
        <div class = "githubdiv">
            <img src = "css/landing/githublogo.png" alt = "illustration" class = "github-logo">
            <button class = "github">My Github Here</button>
        </div>
    </section>
</body>

<script type = "text/javascript" src = "js/landing/landing.js"></script>
</html>