<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/reg/login.css" />
    <title>Log In</title>
</head>

<body>
    <main>
        <button id = "return-button">Return to homepage</button>
        <form class = "login-form" onsubmit = "return false">
            <h1 class = "login-header">Log In</h1>
                <label class = "username">
                    <input type = "text" required/>
                    <span class = "placeholder">Enter Username</span>
                </label>
                <label class = "password">
                    <input type = "password" required/>
                    <span class = "placeholder">Enter Password</span>
                </label>
            <button class = 'login-button'>Log in</button>
            <p class = "minitext">Don't have an account yet? Register here:</p>
            <button class = 'page-transform-button'>Sign Up</button>
        </form>
        <div id = "regModal" class="modal">
            <div class = "modal-content">
                <span class = "close">&times;</span>
                <form class = "register-form" onsubmit = "return false">
                    <h1 class = "login-header">Log In</h1>
                    <label class = "regusername">
                        <input type = "text" required/>
                        <span class = "placeholder">Enter Username</span>
                    </label>
                    <label class = "regpassword">
                        <input type = "password" required/>
                        <span class = "placeholder">Enter Password</span>
                    </label>
                    <label class = "regconfirmpassword">
                        <input type = "password" required/>
                        <span class = "placeholder">Confirm Password</span>
                    </label>
                    <button class = "register-button">Register</button>
                </form>
            </div>
        </div>
    </main>
    <script src="js/reg/login.js"></script>
</body>